.container {
  .text {
    font-weight:500;
    margin-bottom: 15px;
  }

  .paragraph {
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: justify;
  }

  .default {
    margin: 0;
    line-height: 1.6;
    text-align: justify;
  }

  .italic {
    margin-bottom: 5px;
    line-height: 1.6;
    font-style: italic;
    text-align: justify;
  }

  .subtitle {
    margin-bottom: 7px;
    font-weight: 600;
  }

  .formula {
    margin-bottom: 7px;
    line-height: 1.6;
    text-align: center;
  }

  .clear {
    clear: both;
  }

  .list {
    margin-top: 0;
    margin: 7px;
    line-height: 1.6;
    text-align: justify;
    color: var(--color-typo-primary);
  }
}

.modal {
  background-color: transparent;
  border-radius: 6px !important;
  width: 70%;
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
  }
}
