.text {
  padding-bottom: 10px;
}

.content {
  display: flex;

  .previewImage {
    margin: 8px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .previewImageSingle {
    margin: 8px;
    width: 70%;
    height: 70%;
    border-radius: 8px;
  }
}
